
_build/xbox/gen/main_xbox.hdr
_build/xbox/gen/main_xbox_0.ark
_build/xbox/gen/main_xbox_1.ark
_build/xbox/gen/main_xbox_2.ark
_build/xbox/gen/patch_xbox.hdr
_build/xbox/gen/patch_xbox_0.ark
_build/xbox/movies/alien signing screen_29.97fps.bik
_build/xbox/movies/attract.bik
_build/xbox/movies/attract_4x3.bik
_build/xbox/movies/queen_29.97fps.bik
_build/xbox/videos/shell1.bik
_build/xbox/videos/shell2.bik
_build/xbox/videos/shell3.bik
_build/ps3/USRDIR/gen/patch_ps3.hdr
_build/ps3/USRDIR/gen/patch_ps3_0.ark
_xenia/content/45410829
_xenia/content/45410869
_xenia/content/454108E7
_xenia/content/454108B1
_xenia/content/45410914
_xenia/content/575207F0
_xenia/xenia.log
_xenia/cache
_xenia/xenia.log
_build/xbox/gen/main_xbox